anyjson
BeautifulSoup
beautifulsoup4
html5lib
billiard
bs4
clearbit
config
dnspython
future
google-api-python-client
idna
ipwhois
json2html
lxml
piplapis-python
pymongo
python-Wappalyzer
python-whois
pytz
requests
requests-file
simplejson
tldextract
tqdm
termcolor
tweepy
TravisPy
netaddr
tld
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability